# =============================================================================
# .gitignore
# =============================================================================

# Data (large files)
data/
*.txt

# Hydra outputs
outputs/

# Checkpoints
checkpoints/
*.pt

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
*.egg
.venv/
venv/
env/
scripts/tmp
src/tmp
src/backup

# W&B
wandb/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sh
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
